#page-title {
    position: relative;
    padding: 50px 0;
    background-color: #cdcdcd;
    border-bottom: 1px solid #EEE;
}

.breadcrumb-item {
    &.active {
        a {
            color: #21252a;
            text-decoration: none;
            cursor: auto;
        }
    }
}