/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    margin-top: 5rem;
}

h1 {
    margin-bottom: 0;
}

h2 {
    padding: 0 0 1rem;
    border-bottom: 2px solid #6a88a7;
    margin-bottom: 1rem;
}

.text-bold {
    font-weight: bold;
}